.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mensaje{
    margin-top: 100px;
    text-align: center;
    width: 100%;
    color: grey;
    font-size: 20px;
    padding-bottom: 4rem;
}

.botonPagar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.botonPagar h3{
    margin: 0;
    margin-right: 5px;
    color: gray;
}
.botonPagar h2{
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    color: crimson;
}