<app-header titulo="Carro de Compras"></app-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row *ngFor="let producto of listaProductos" class="ion-text-center">
      <ion-col size="3">
        <ion-thumbnail >
          <img [src]="bodegaURL + producto.imagenPath" *ngIf="producto.imagenPath && producto.marca != 'ANWO'">
          <img [src]="anwoURL + producto.imagenPath" *ngIf="producto.imagenPath && producto.marca == 'ANWO'">
          
        </ion-thumbnail>
      </ion-col>
      <ion-col size="3">
        {{producto.nombre}}
      </ion-col>
      <ion-col size="3">
        <div class="cantidad">
          <button fill="outline" (click)="reducirCantidad(cant,producto)"><ion-icon name="remove-circle-outline"></ion-icon></button>
          <ion-input #cant value="{{producto.cantidadCarrito}}" readonly></ion-input>
          <button fill="outline" [disabled]="producto.sinStock" (click)="aumentarCantidad(cant,producto)"><ion-icon name="add-circle-outline"></ion-icon></button>
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-button color="danger" (click)="quitarProducto(producto)">Eliminar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="mensaje" *ngIf="listaProductos == null || listaProductos.length==0">
    <p>No hay productos en el carrito</p>
  </div>

  <div class="mat-elevation-z5 botonPagar" *ngIf="listaProductos != null">
    <h3>Total a pagar: </h3><h2>{{ total | currency : "CLP" : 'symbol-narrow' : '1.0' }}</h2>
    <ion-button color="danger" (click)="generarCompra()">Pagar</ion-button>
  </div>
</ion-content>
