<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
      <!-- <ion-button (click)="irAProductos()" expand="block" fill="clear" shape="round">
        Click me
      </ion-button> -->
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>
