.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sin-stock{
    position: absolute;
    top: 0;
    right: 0;
    background-color: crimson;
    color: white;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
}