<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="irHaciaCarrito()">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <span *ngIf="productosEnCarrito != 0">{{productosEnCarrito}}</span>
      </ion-button>

    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Buenos Aires App</h1>

  <ion-card *ngFor="let producto of productos" class="ion-text-center">
    <ion-card-header>
      
      <ion-img [src]="bodegaURL + producto.imagenPath" *ngIf="producto.imagenPath && producto.marca != 'ANWO'"></ion-img>
      <ion-img [src]="anwoURL + producto.imagenPath" *ngIf="producto.imagenPath && producto.marca == 'ANWO'"></ion-img>
      <div *ngIf="producto.sinStockBD" class="sin-stock">Sin stock</div>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
      <ion-card-title>{{producto.precio | currency:'CLP': 'symbol-narrow' : '1.0' }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{producto.descripcion}}
      <div class="cantidad">
        <ion-button fill="outline" [disabled]="producto.esUno" (click)="reducirCantidad(cant,producto)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
        <ion-input #cant value="1" readonly></ion-input>
        <ion-button fill="outline" [disabled]="producto.sinStock && producto.esUno" (click)="aumentarCantidad(cant,producto)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
    <!-- <button class="boton" mat-flat-button (click)="agregarProducto(producto, cant)" [disabled]="producto.sinStockBD">Añadir al carro</button> -->
    <ion-button expand="block" color="warning" (click)="agregarProducto(producto, cant)" [disabled]="producto.sinStockBD">Añadir al carro</ion-button>
  </ion-card>

</ion-content>
